$color-primary: #3f51b5;
$color-secondary: #c1e5e2;

$color-text-light-primary: #fff;
$color-text-light-secondary: #3f51b5;
$color-text-light-black: #000;

$color-background-light-primary: #fff;

$color-success: #008000;
$color-fail: #ab000d;
